html {
    background-color: white;
}

header {
    background-image: url(../imgs/home_topper.JPG);
    min-height: 500px;
    margin-bottom: 10px;

    background-size: cover;
    background-position: center;

    position: relative;
}

.container {
    position: absolute;
    width: auto;
    margin: 0px 150px;
}