html {
    background-color: white;
}

.rightbox {
    margin-top: 250px;
    margin-right: 250px;
    padding: 40px;
    float: right;
    color: black;
    background-color: green;
    box-shadow: 10px 4px 8px 5px rgba(0,0,0,0.2);
    font-family: fantasy;

}

.rightbox h3 {
    text-align: center;
    text-decoration: underline;
}